@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome My Web Teacher</h1>
    <h2 >使用方式 : 請將 /Movies 插入網址後方 </h2>
    <h3>功能 : 上架電影 修改 刪除 顯示完整資料 查詢</h3>
</div>
